<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="CAN">https://www.amazon.ca/</entry>
<entry key="org.sqlite.JDBC">jdbc:sqlite:appDB.db</entry>
<entry key="webdriver.chrome.driver">C:\Program Files\chromedriver_win32\chromedriver.exe</entry>
<entry key="US">https://www.amazon.com/</entry>
</properties>
